DB_DATABASE=auditre
DB_HOSTNAME=localhost
DB_USER=
DB_PASSWORD=


NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# https://next-auth.js.org/providers/github
GITHUB_ID=
GITHUB_SECRET=
